
/* Welcome section */

.welcome{
    top: -70px;
}



/* Menu section */

/* Menu Navbar */

.menu_legend{
    position: sticky;
    top: 0;
    z-index: 2;
}
#navbar{
    width: 100%;
    height: 50px;
    margin-top: 18px;
    padding-top: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgb(228, 247, 253);
}
#navbar a:link, a:visited {
    color: black;
    text-decoration: none;
}
.navbar-start {
    width: 100%;
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: auto;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.navbar-item{
    margin: 0 30px 8px;
    height: 32px;
    text-align: center;
    white-space: nowrap;
}
.navbar-menu .navbar-item {
    font-size: 18px;
    transition: background-color 0.26s, color 0.26s, font-weight 0.26s, border-bottom 0.26s;
}
.navbar-menu .navbar-item.active {
    /* background-color: aquamarine; */
    font-weight: bold;
    border-bottom: 2px solid rgb(120, 200, 247);
}




/* Menu itself */

#menu, .category{
    /* background-color: #F5F3F1; */
    background-color: rgb(228, 247, 253);
}


.category{
    position: sticky;
    height: 122px;
    top: 0px;
    z-index: 1;
    padding-top: 73px;
    margin: 90px auto 45px auto;
    text-align: center;
    font-family: 'Kurale', serif;
    box-shadow: 5px 5px 5px rgb(228, 247, 253);
}


.card{
    height: 400px;
    width: 300px;
    border-radius: 50px;
    margin-right: auto;
    margin-left: auto;
}

.card img{
    border-radius: 50px 50px 0 0;
}

small{
    text-align: right;
    padding: 0 50px 20px 0;
}

@media (min-width: 768px){

     /* Navbar Top */

    .navbar{
        margin-top: 7px;
    }
}

@media (min-width: 992px){
    .navbar-start::-webkit-scrollbar{
        width: 2px;
        height: 5px;
        border-radius: 100px;
        background-color: rgb(191, 208, 223);
    }
    .navbar-start::-webkit-scrollbar-thumb{
        background: rgb(120, 200, 247);
        border-radius: 100px;
    }
    .navbar-start::-webkit-scrollbar-thumb:hover {
        background: rgb(14, 167, 228); 
      }
}

@media  (max-width: 1400px) {

    /* Card */
    .card{
        height: 375px;
        width: 250px;
    }

}

@media  (max-width: 1200px) {

    /* Card */
    .card{
        height: 414px;
        width: 276px;
    }

}

@media  (max-width: 991px) {

    /* Welcome */
    .welcome{
        top: 0px;
    }

    /* Card */
    .card{
        height: 315px;
        width: 210px;
    }
    .card-title{
        font-size: 15px;
    }
    .card-text{
        font-size: 12px;
    }

}

@media (max-width: 1460px) and (min-width: 1400px),
        (max-width: 1270px) and (min-width: 1200px),
        (max-width: 1090px) and (min-width: 992px),
        (max-width: 855px) and (min-width: 768px){

    #navbar{
        width: 88%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width:768px) and (min-width: 576px){

    /* Welcome */
    .welcome-text{
        font-size: 50px;
    }
}

@media (max-width:767px){

    /* Navbar Top */

    .navbar{
        padding: 0;
    }

    /* Menu Navbar */

    #navbar{
        margin-top: 50px;
        padding-top: 10px;
        align-items: center;
    }

    .navbar-item{
        margin: 0 25px 15px;
    }

    /* Menu itself */

    .category{
        top: 0px;
        height: 55px;
        padding-top: 8px;
    }
}

@media (max-width: 575px){


    /* Navbar for Menu */

    .navbar-item{
        margin: 0 20px 15px;
    }
    
    /* Card */
    .card{
        width: 235px;
        height: 352px;
    }
    .card-title{
        font-size: 18px;
    }
    .card-text{
        font-size: 14px;
    }

    /* Menu itself */

    .category{
        padding-top: 10px;
    }
}
