/* Body */

/* Title Section */
#title {
    background-image: url("../images/header_image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

/* Navbar */

/* .navbar {
    margin: 1.6em 0;
} */

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
}

.logo-image {
    width: 8em;
}

.navbar-brand{
    margin-left: auto;
    margin-right: auto;
    padding-right: 2em;
}

.navbar-nav{
    text-align: center;
}

.offcanvas-start{
    width:320px;
}





.middle {
    background-color: white;
    height: 100vh;
}

.footer {
    background-color: red;
    height: 100vh;
}

@media (min-width: 768px) {

    /* Navbar */
    .navbar {
        margin: 1.6em 0;
    }
}

@media (min-width: 992px) {

    /* Navbar */

}

@media (max-width: 991px) {

    /* Navbar */

}

@media (max-width: 767px) {

    /* Navbar */

    .logo-image {
        width: 5em;
    }
}
