/* Body */

.test011{
	position: fixed;
  bottom: 0;
  right: 0;
	left: 0;
  top: 0;
  width: 100vw;
height: 100vh;
/*   border: 3px solid #73AD21; */
  z-index: -5;
	margin: 0;
  padding: 0;
}

/* Title Section */
#title {
    /* background-image: url("../images/header_image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    height: 100vh;
}

/* Navbar */

/* .navbar {
    margin: 1.6em 0;
} */

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
}

.logo-image {
    width: 8em;
}

.navbar-brand{
    margin-left: auto;
    margin-right: auto;
    padding-right: 2em;
}

.navbar-nav{
    text-align: center;
}

.hamburger{
    z-index: 1046;
}

.offcanvas{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width:100vw;
    transition-duration: .7s;
}

.offcanvasOnField{
    background-color: white;
}

.offcanvas-body{
    padding: 75px 0;
}

.offcanvasOffField{
    background-color: rgba(0, 0, 0, 0);
    height: 100vh;
}

#offcanvasClose:focus{
	outline:0;
}



#middle {
    background-color: white;
    height: 100vh;
}

#footer {
    background-color: blue;
    height: 100vh;
}

@media (min-width: 768px) {

    /* Navbar */
    .navbar {
        margin: 1.6em 0;
    }

}

@media (min-width: 992px) {

    /* Navbar */

}

@media (max-width: 991px) {

    /* Navbar */

}

@media (max-width: 767px) {

    /* Navbar */

    .logo-image {
        width: 5em;
    }
}
