/* Body */

/* .header_image{
    background-image: url("images/header_image.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    z-index: -1;
    width: 40rem; margin-top: 5rem;
} */

body{
    
    height:100vh;}

/* Title Section */
#title {
    /* background-color: #FF80ED; */
    background: url("../images/header_image.jpg") center / cover no-repeat fixed ;
    height: 100vh;
}

/* Navbar */

.navbar {
    margin: 1em 0;
    border-radius: 1.5em;
    padding: 0;
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
}

.logo-image {
    width: 2.0em;
    border-radius: 100%;
    margin-left: 1em;
}

.nav-button {
    color: black;
}

/* #navbarNav {
    display: inline-block;
    text-align: left;
} */





.middle {
    background-color: white;
    height: 100vh;
}

.footer {
    background-color: red;
    height: 100vh;
}

@media (min-width: 768px) {

    /* Navbar */

    .navbar {
        width: 50%;
        margin: 1em 25%;
        border-radius: 1.5em;
        padding: 0;
    }
}

@media (min-width: 992px) {

    /* Navbar */

    #navbarNav{
        display: flex;
        justify-content: center;
        margin-right: 1em;
    }
}

@media (max-width: 991px) {

    /* Navbar */

    #navbarNav{
        padding-left: 1em;
    }
}

@media (max-width: 767px) {

    /* Navbar */

    .navbar {
        margin: 1em 1em;
        border-radius: 1.5em;
        padding: 0;
    }
}