/* Body */


@font-face {
    font-family: Chronicle;
    src: url("Chronicle\ Display\ Italic.otf");
}

@font-face {
    font-family: 'Museo Sans 700';
    src: url("Museo\ Sans\ 700.ttf");
}




/* Title Section */
#title {
    /* height: 100vh; */
}

/* Navbar */

.navbar{
    pointer-events: none; /* prohibits blocking the links */
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
}

.logo-image {
    width: 8em;
    pointer-events: all;
}

.navbar-brand {
    margin-left: auto;
    margin-right: auto;
    padding-right: 2em;
}

.navbar-nav {
    text-align: center;
}

.hamburger {
    z-index: 1046;
    pointer-events: all;
}



/* Offcanvas */

.offcanvas {
    pointer-events: all;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: 100vw;
    transition-duration: .8s;
    /* transition-delay: .3s; */
    transform: translateX(-320px);/*to slide out offcanvas 320px*/ 
}

.offcanvas-entire-field {
    display: flex;
    height: 100vh;
  }

.offcanvasOnField {
    background-color: white;
    flex: 0 0 320px; /* do not grow, do not shrink, start at 320px */
}

.offcanvas-body {
    text-transform: uppercase;
    padding: 75px 0;
    font-family: 'Museo Sans 700';
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 2px;
    margin: 25px 25px 0 25px
}

.offcanvas-body a{
    padding: 11px;
}

.offcanvasOffField {
    background-color: rgba(0, 0, 0, 0);
    flex: 1;  /* grow */
}

/* Hamburger Button does's highlight after clicking */
#offcanvasClose:focus {
    outline: 0;
}

.slide-opened body {
    overflow: hidden;
}



/* Header Section: Welcome */

.header-content{
    height: 100vh;
}

.background_image_1 {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: -5;
    margin: 0;
    padding: 0;
    object-fit: cover;
}

.welcome{
    position: fixed;
    height: 100vh;
    text-align: center;
    right: 0;
    width: 100%;
    margin: 0;
    /* color: white; */
}

.welcome-text{
    /* font-family: 'Libre Baskerville', serif; */
    font-family: 'Kurale', serif;
    font-size: 70px;
    font-style: italic;
}

.welcome-text2{
    /* font-family: 'Libre Baskerville', serif; */
    font-family: 'Kurale', serif;
    font-size: 28px;
    font-style: italic;
}






/* Middle Section */

#middle {
    height: 100vh;
    position: sticky;
    top: 0;
}

.background_image_2 {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -5;
    margin: 0;
    padding: 0;
    object-fit: cover;
}

.gastronomy{
    text-align: center;
    height: 100vh;
    padding-top: 20px;
}

.gastronomy-heading{
    font-size: 16px;
    font-family: 'Heebo', sans-serif;
    letter-spacing: 0.2em;
    font-weight: bolder;
    padding-bottom: 20px;
}

.gastronomy-text{
    font-size: 40px;
    font-family: Chronicle;
    font-weight: bolder;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.gastronomy-footer{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



/* About Us */

#about_us{
    background-color: white;
    height: 100vh;
    position: sticky;
    top: 0;
}


.about_us_body {
    text-align: center;
    height: 100vh;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Kurale', serif;
    font-style: italic;
    color: wheat;
}

.about_us_body h1{
    letter-spacing: 0.2em;
    padding-bottom: 20px;
}

.about_us_body p{
    /* font-size: 16px; */
}




/* Find Us Section */

#find_us{
    background-color: #f5ffec;
    height: 100vh;
    position: sticky;
    top: 0;
}

.follow_us{
    height: 15vh;
    background-color: #d5d5d5;
}

/* .spacing_follow_us{
    height: 40px;
} */

.follow_us .row{
    height: 15vh;
}

.instagram, .facebook{
    display: flex;
    height: 15vh;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.instagram:hover{
    background-color: #FCAF45;
}
.facebook:hover{
    background-color: #4267B2;
}

.instagram > img,.facebook > img{
    height: 5vh;
    float: left;
    padding-right: 20px;
    align-items: center;
}

.instagram > p, .facebook > p{
    margin-bottom: 0;
    color: black;
}



.find_us_body{
    height: 85vh;
}

.left_find_us{
    padding-top: 5vh;
    height: 85vh;
}



.right_find_us{
    background-color: white;
}

#gmap_canvas{
    padding: 0;
    margin: 0;
    width: 100vh;
    height: 85vh;
}


/* Footer */

/* #footer{
    height: 20vh;
    background-color: red;
    position: absolute;
    width: 100%;
} */





@media (min-width: 768px) {

    /* Navbar */
    .navbar {
        margin: 1.6em 0;
    }

}

@media (min-width: 992px) {

    /* Navbar */

}

@media (max-width: 991px) {

    /* Navbar */

    /* Header Welcome */

    .welcome > .col{
        padding-bottom: 25vh;
    }

}

@media (max-width: 767px) {

    /* Navbar */

    .logo-image {
        width: 5em;
    }

    /* Header Welcome */

    .welcome-text{
        font-size: 32px;
    }

    .welcome-text2{
        font-size: 13px;
    }

    /* Middle Section */

    .gastronomy-heading{
        font-size: 14px;
    }

    .gastronomy-text{
        font-size: 20px;
        max-width: 390px;
    }

    .gastronomy-footer{
        font-size: 12px;
    }

    /* About Us */

    .about_us_body{
        max-width: 390px;
    }


    /* Find Us */

    #gmap_canvas{
        height: 60vh;
    }
}
